:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bb-color-appBackground);

  main {
    overflow: auto;
    flex: 1;
    padding-top: var(--bb-height-header);
    overscroll-behavior: none;
  }
}
