:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bb-color-appBackground);

  main {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: var(--bb-height-header);
    overscroll-behavior: none;

    &::ng-deep > *:not(router-outlet):not(bb-footer) {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: calc(100vh - var(--bb-height-header));
    }
  }
}
