<div class="auth-page">
  <div class="auth-panel">
    <div class="auth-container">
      <div class="branding">
        <img
          src="assets/bb.svg"
          alt="Brewski Bets"
          class="logo" />
        <h1 class="brand-name">brewski bets</h1>
      </div>

      <router-outlet />
    </div>
  </div>
  <div class="bg-panel" #bgPanel>
    <img
      src="assets/beers-due.webp"
      alt=""
      style="display: none"
      (load)="bgPanel.classList.add('bg-loaded')" />
  </div>
</div>
