@use 'mixins' as *;

:host {
  width: 100%;
}

ea-card {
  width: 100%;
  --ea-card-shadow: 0 8px 24px var(--bb-color-shadowMedium);
}

.auth-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  ea-button {
    margin-top: 16px;
    --ea-button-font-size: 16px;
    --ea-button-font-weight: 400;
  }
}

.code-input {
  display: flex;
  justify-content: center;
}

.name-row {
  display: flex;
  gap: 16px;

  ea-input {
    flex: 1;
  }
}

.error {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--bb-color-danger);
}

.hint {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--bb-color-textSecondary);
}

.auth-link {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--bb-color-textSecondary);

  a {
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: var(--bb-color-primary);

    &:hover {
      color: var(--bb-color-primaryLink);
    }
  }
}
