@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/righteous-v18-latin.woff2') format('woff2');
}

* {
  font-family: 'arial', sans-serif;
}

p,
a,
li {
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 36px;
  color: var(--bb-color-primary);
}

h2 {
  font-size: 22px;
  font-weight: 100;
  line-height: 32px;
  color: var(--bb-color-textPrimaryDark);
}

h3 {
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  color: var(--bb-color-textPrimaryDark);
}

h4 {
  font-size: 16px;
  font-weight: 100;
  color: var(--bb-color-textPrimaryDark);
}

sup {
  font-size: 0.6em;
  vertical-align: super;
  line-height: 0;
}

ea-empty-state {
  --ea-empty-state-title-font-weight: 400;
  --ea-empty-state-description-color: var(--bb-color-textFaint);
  --ea-empty-state-media-color: var(--bb-color-iconFaint);
}

ea-empty-state .ea-empty-state .ea-empty-state__title {
  color: var(--bb-color-textSecondary);
}
