@font-face {
  font-family: cinzel;
  src: url(../assets/font/cinzel-bold.ttf) format('truetype');
  font-display: fallback;
  font-weight: bold;
}

* {
  font-family: 'arial', sans-serif;
  color: var(--bb-color-primarySemiTransparent);
}

p,
a,
li {
  font-size: 18px;
  line-height: 24px;
}

h1 {
  font-family: 'cinzel';
  font-size: 44px;
  line-height: 36px;
}

h2 {
  font-size: 22px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}

h4 {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  color: var(--bb-color-primary);
}

sup {
  font-size: 0.6em;
  vertical-align: super;
  line-height: 0;
}
