@use '../../../styles/mixins' as *;

.account-page {
  margin: auto;
  width: 100%;
  max-width: 460px;
  padding: 24px;
}

ea-card {
  @include eagami-light-theme;
}

.avatar-section {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.email {
  margin: 0 0 24px;
  text-align: center;
  color: var(--bb-color-textMuted);
}

.avatar-skeleton {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.email-skeleton {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.field-skeleton {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  margin-top: 24px;
}

.delete-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}
