<div class="auth-page">
  <div class="auth-panel">
    <div class="auth-container">
      <router-outlet />
    </div>
  </div>
  <div
    class="bg-panel"
    #bgPanel>
    <img
      src="assets/beers-due.webp"
      alt=""
      style="display: none"
      (load)="bgPanel.classList.add('bg-loaded')" />
    <div class="slogan">
      <span class="slogan-broskis">broskis</span>
      <span class="slogan-bet">bet</span>
      <span class="slogan-brewskis">brewskis.</span>
    </div>
  </div>
</div>
