.demo {
  width: 100%;
  text-align: left;
}

ea-card {
  --text-label-md-size: 16px;
  display: block;
  width: 100%;
}

.form-field {
  min-width: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
