<div class="bets-page">
  <div class="top-bar">
    <ea-button routerLink="/bets/new">Create a bet</ea-button>
  </div>

  <ea-card variant="outlined">
    <h2 eaCardHeader>My bets</h2>

    <div class="filters">
      <ea-input
        label="Search"
        [value]="filterText()"
        (valueChange)="filterText.set($event)" />
      <ea-dropdown
        label="Status"
        [options]="statusOptions"
        [value]="filterStatus()"
        (valueChange)="filterStatus.set($event)" />
    </div>

    @if (loading()) {
      <div class="skeleton-table">
        <div class="skeleton-row skeleton-row--header">
          <ea-skeleton
            variant="text"
            width="60px"
            height="14px" />
          <ea-skeleton
            variant="text"
            width="80px"
            height="14px" />
          <ea-skeleton
            variant="text"
            width="50px"
            height="14px" />
          <ea-skeleton
            variant="text"
            width="60px"
            height="14px" />
        </div>
        @for (_ of skeletonRows; track $index) {
          <div class="skeleton-row">
            <ea-skeleton
              variant="text"
              width="140px"
              height="16px" />
            <div class="skeleton-opponent">
              <ea-skeleton
                variant="circle"
                width="24px"
                height="24px" />
              <ea-skeleton
                variant="text"
                width="100px"
                height="16px" />
            </div>
            <ea-skeleton
              variant="rect"
              width="64px"
              height="20px" />
            <ea-skeleton
              variant="rect"
              width="80px"
              height="20px" />
          </div>
        }
      </div>
    } @else {
      <ea-data-table
        [columns]="columns()"
        [data]="filteredBets()"
        trackBy="id"
        [hoverable]="true"
        [(sort)]="sort"
        noDataText="No bets yet. Create your first bet!" />
    }
  </ea-card>
</div>

<ng-template
  #opponentCell
  let-bet>
  @if (bet.opponent) {
    <div class="opponent-cell">
      <ea-avatar
        [src]="getAvatarSrc(bet.opponent.clerkImageUrl)"
        [initials]="getInitials(bet.opponent.firstName, bet.opponent.lastName)"
        size="xs" />
      <span>{{ bet.opponent.firstName }} {{ bet.opponent.lastName }}</span>
    </div>
  }
</ng-template>

<ng-template
  #statusCell
  let-bet>
  <ea-badge [variant]="getStatusVariant(bet.status)">
    {{ bet.status }}
  </ea-badge>
</ng-template>

<ng-template
  #actionCell
  let-bet>
  @if (isMyTurn(bet)) {
    <ea-badge variant="info">Your turn</ea-badge>
  }
</ng-template>
