@if (standings().length || voidBets().length) {
  <div class="standings">
    @for (standing of standings(); track standing.opponentId) {
      <div class="standing">
        <div class="standing__head">
          <ea-avatar
            [src]="getAvatarSrc(standing.avatarUrl)"
            [initials]="getInitials(standing.name)"
            size="xs" />
          <span class="standing__name">{{ standing.name }}</span>
          <span
            class="standing__summary"
            [class.standing__summary--positive]="standing.net > 0"
            [class.standing__summary--negative]="standing.net < 0">
            {{ summary(standing.net) }}
          </span>
        </div>

        <div class="standing__track">
          <div
            class="standing__center"
            aria-hidden="true">
          </div>
          @if (standing.net < 0) {
            <div
              class="standing__bar standing__bar--owe"
              [style.width.%]="barWidth(standing.net)">
            </div>
          } @else if (standing.net > 0) {
            <div
              class="standing__bar standing__bar--owed"
              [style.width.%]="barWidth(standing.net)">
            </div>
          }

          <div class="standing__tooltip">
            <ul class="breakdown">
              @for (item of standing.breakdown; track $index) {
                <li class="breakdown__item">
                  <span class="breakdown__label">
                    <bb-bet-graphic
                      [slug]="item.iconSlug"
                      [color]="item.iconColor"
                      [size]="16" />
                    <span class="breakdown__title">{{ item.title }}</span>
                  </span>
                  <span
                    class="breakdown__beers"
                    [class.breakdown__beers--owe]="item.iOwe">
                    {{ item.iOwe ? '-' : '+' }}{{ item.beers }}
                  </span>
                </li>
              }
            </ul>
          </div>
        </div>

        <ul class="standing__breakdown">
          @for (item of standing.breakdown; track $index) {
            <li class="breakdown__item">
              <span class="breakdown__label">
                <bb-bet-graphic
                  [slug]="item.iconSlug"
                  [color]="item.iconColor"
                  [size]="16" />
                <span class="breakdown__title">{{ item.title }}</span>
              </span>
              <span
                class="breakdown__beers"
                [class.breakdown__beers--owe]="item.iOwe">
                {{ item.iOwe ? '-' : '+' }}{{ item.beers }}
              </span>
            </li>
          }
        </ul>
      </div>
    }

    @for (voidBet of voidBets(); track voidBet.id) {
      <a
        class="void-bet"
        [routerLink]="['/bets', voidBet.id]">
        <span class="void-bet__icon">
          <bb-bet-graphic
            [slug]="voidBet.iconSlug"
            [color]="voidBet.iconColor"
            [size]="20" />
        </span>
        <span class="void-bet__info">
          <span class="void-bet__title">{{ voidBet.title }}</span>
          <span class="void-bet__opponent">vs. {{ voidBet.opponentName }}</span>
        </span>
        <span class="void-bet__stamp">VOID</span>
      </a>
    }
  </div>
} @else {
  <ea-empty-state
    size="sm"
    headingLevel="h3"
    title="No settled bets yet"
    description="Once you settle a bet, the running beer tally shows up here">
    <ea-icon-bottle slot="media" />
  </ea-empty-state>
}
